.DS_Store
.idea
mixpanel-ios/target/*
mixpanel-ios/src/xcode/DerivedData/*
mixpanel-ios/src/xcode/Build/*
*.xcworkspace
!default.xcworkspace
xcuserdata
mixpanel-ios/target/*
mixpanel-flash/target/*
mixpanel-ane/target/*
ane-mixpanel-parent.iml
